@charset "UTF-8";
/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../font/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../font/HelveticaNeueBoldCondensed.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../font/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../font/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../font/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../font/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	
}
@font-face {
	font-family: 'Helvetica UltraLight';
	src: url("../font/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("HelveticaNeueCyr-UltraLight.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;

}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	/* по умолчанию */
	/* font-size: 16px;  */
}

body {
	line-height: 1.5;
	color: #A6A6A6;
	font-family: "Helvetica Neue";
	background-color: #fff;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
	
}

	// @media (max-width: 1140px) {
	// 	[class*="__container"] {
	// 		max-width: 970px;
	// 	}
	// }

	// @media (max-width: 991.98px) {
	// 	[class*="__container"] {
	// 		max-width: 750px;
	// 	}
	// }

	// @media (max-width: 767.98px) {
	// 	[class*="__container"] {
	// 		max-width: none;
	// 		padding: 0 10px;
	// 	}
	// }
/* ------------------------------ */
.header {
	position: absolute;
	z-index: 3;
	width: 100%;
	padding: 33px 0px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	// .header__container

	&__container {
		display: flex;
	}
}

.header-logo {
	flex: 1 1 auto;
	display: flex;
	align-items: center;

	// .header-logo__link

	&__link {}

	// .header-logo__img1

	&__img {}
}

.header-menu {
			z-index: 5;
	@media (max-width:767.98px) {
			display: inline-flex;
			align-items: center;
			width: 40px;
			height: 40px;
			position: relative;
			cursor: pointer;
			}
		

	// .header-menu__list

	&__list {
		@media (max-width:767.98px) {
				flex-direction: column;
				align-items: center;
				position: fixed;
				flex-wrap: nowrap;
				top: 0;
				right: -100%;
				height: 100%;
				row-gap: 20px;
				padding: 80px 30px 30px;
				background-color: #191919;
				border-left: 2px solid rgba(255, 255, 255, 0.1);
				transition: all .2s ease 0s;
				width: 50%;
				overflow: auto;
				margin: 0;
		}
		@media (max-width:409.98px) {
			row-gap: 70px;
			padding: 100px 30px 30px;
			width: 100%;
		}
	}
}
// ================================================
.header {
		
		// .header__checkbox

		&__checkbox {
			display: none;
			visibility: hidden;
			position: fixed;
			top: 0;
			left: 0;

			&:checked~.header__checkbox-label > .header__checkbox-lines {
				transform: rotate(45deg);
			}
			&:checked~.header__checkbox-label>.header__checkbox-lines::after {
				top: 0;
				transform: rotate(90deg);
			}
			&:checked~.header__checkbox-label>.header__checkbox-lines::before {
				top: 0;
				transform: rotate(0deg);
			}
			&:checked~.header-menu__list {
				right: 0;
			}
		}
		// .header__checkbox-label

		&__checkbox-label {
			z-index: 10;
		}
		// .header__checkbox-lines
		&__checkbox-lines {
					display: none;
					width: 100%;
					height: 2px;
					background-color: #34c759;
					transition: all .2s ease 0s;
					position: absolute;

			&::before {
						content: '';
						width: 100%;
						height: 2px;
						background-color: #34c759;
						position: absolute;
						top: -15px;
						left: 0;
						transition: all .2s ease 0s;
			}
			&::after {
					content: '';
					width: 100%;
					height: 2px;
					background-color: #34c759;
					position: absolute;
					top: 15px;
					left: 0;
					transition: all .2s ease 0s;
			}
			@media (max-width: 767.98px) {
				display: inline;
			}
			
		}
		@media (max-width: 767.98px) {
			padding: 20px 0px;
			position: fixed;
			background-color: #191919;
		}
}

.list {
		display: flex;
		column-gap: 50px;
		
	// .list__item
	&__item {	
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		color: #FFFFFF;
		
		@media (max-width: 767.98px) {
			font-size: 25px;
			width: 100%;
			row-gap: 70px;
			text-align: center;
			border-bottom: solid 1px #34c759;
		}
	}

	// .list__item-link

	&__item-link {
		color: #fff;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			color: #34C759;
			
		}
	}
}

.main {
	position: relative;
	background: url(../img/main/main-page.png) center/cover no-repeat;
	padding: 171px 0px 155px 0px;

	// .main__container

	&__container {
	}
	// .main__top

	&__top {
		display: flex;
		flex-direction: column;
		
		text-align: center;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 70px;
		}
	}

	// .main__bottom

	&__bottom {
		display: flex;
		text-align: center;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px 90px;
	}

	// .main__bottom-item

	&__bottom-item {
		display: flex;
		flex-direction: column;
		flex: 0 1 245px;
		align-items: center;
	}
	@media (max-width: 991.98px) {
		padding: 110px 0px 404px 0px;
	}
}


.main-top {
			
	// .main-top__title
	
	&__title {
		max-width: 1100px;
		overflow-wrap: break-word;
		font-family: 'Helvetica UltraLight';
		font-size: 72px;
		line-height: 90px;
		text-align: center;
		letter-spacing: 0.1em;
		color: #FFFFFF;
		&:not(:last-child) {
			margin-bottom: 27px;
		}
		@media (max-width: 991.98px) {
			font-size: 55px;
		}
		
		@media (max-width: 767.98px) {
			
		}
	}

	// .main-top__title-span

	&__title-span {
		font-family: 'Helvetica';
		font-size: 72px;
		line-height: 1.25;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: #FFFFFF;
		@media (max-width: 991.98px) {
			font-size: 55px;
		}
		@media (max-width: 767.98px) {
			
		}
	}

	// .main-top__sub-title

	&__sub-title {
		max-width: 595px;
		overflow-wrap: break-word;
		font-size: 16px;
		line-height: 1.62;
		text-align: center;
		letter-spacing: -0.2px;
		color: #FFFFFF;
		opacity: 0.7;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: 767.98px) {
			max-width: 600px;
		}
	}

	// .main-top__link

	&__link {
		font-family: 'Helvetica Neue';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #1A1A1A;
		background: #34C759;
		border-radius: 43px;
		padding: 25px 57px;
		transition: all 0.2s ease-in;
		border: 3px solid #34C759;
		&:hover {
			background-color: transparent;
			border: 3px solid white;
			color: #FFFFFF;
		}
	}
	@media (max-width: 767.98px) {
		max-width: 600px;
	}
}
//------Bottom-item-------------
.item {
	img {
		max-width: 26.11px;
		&:not(:last-child) {
			margin-bottom: 13px;
			
		}
	}
}

.item-text {
	font-size: 16px;
	line-height: 1.87;
	overflow-wrap: break-word;
	color: #FFFFFF;
	&:not(:last-child) {
		margin-bottom: 3px;
	}
}

.item-title {
	
}

.item-link {
	font-size: 16px;
	line-height: 1.87;
	overflow-wrap: break-word;
	color: #FFFFFF;
	
}
// --------------------------------------------



//--------------WORKS--------------

.works {
	background: #1A1A1A;
	padding-bottom: 26px;	

	// .works__conatiner

	&__container {}

	// .works__top

	&__top {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	// .works__title

	&__title {
		
	}

	// .works__bottom

	&__bottom {
		padding: 0px 15px;
		margin: 0px -15px;
	}

	// .works__bottom-items

	&__bottom-items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0px -15px;
	}

	// .works__bottom-item

	&__bottom-item {
		
}
// ------------title-block---------------
.title-block {
	display: flex;
	justify-content: center;
	position: relative;
	// .title-block__title

	&__title {
		font-weight: 700;
		font-size: 100px;
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 42%;
			width: 60px;
			height: 2px;
			background-color: #34C759;
		}
	}

	// .title-block__sub-title

	&__sub-title {
		position: absolute;
		top: 20%;
		left: 0;
		width: 100%;
		overflow-wrap: break-word;
		font-weight: 400;
		font-size: 36px;
		line-height: 90px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
	}
}
// --------------item-bottom-------------------


// Доделать карточки 
.item-bottom {
		flex: 1 0 25%;
		min-width: 255px;
		
		padding: 0px 15px;
	// .item-bottom__body

	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		min-height: 206px;
		height: 100%;
		padding: 24px 24px 60px 24px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		transition: all .2s ease 0s;
		&:hover  {
			background: #34c759;
		}
		&:hover *  {
			color: #191919;
			
		}
		&:hover .item-bottom__title::after {
			background: #191919;
		
		}

	}

	// .item-bottom__title

	&__title {
		position: relative;
		overflow-wrap: break-word;
		margin-bottom: 36px;
		font-size: 22px;
		line-height: 1.27;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		color: #FFFFFF;
		&::after {
			content: "";
			width: 56px;
			height: 2px;
			display: block;
			position: absolute;
			bottom: -14px;
			left: 0;
			background: #34c759;
			transition: all .2s ease 0s;
		}
	}

	// .item-bottom__text

	&__text {
		flex: 1 0 auto;
		overflow-wrap: break-word;
		min-height: 54px;
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
	}
	}
}
//----------------------Dishes
.dishes {
	background: #1A1A1A;
	padding-bottom: 100px;

	// .dishes__container

	&__container {}

	// .dishes__title

	&__title {}

	// .dishes__cards

	&__cards {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0px -15px;
	}

	// .dishes__card

	&__card {
		
		flex: 1 1 33.333%;
		padding: 0px 15px;
		min-width: 290px;
	}
}



.dishes-item {
			display: flex;
			flex: 1 1 auto;
			height: 100%;
			flex-direction: column;
			border-radius: 6px;
			position: relative;

	// .dishes-item__share
	
	&__share {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 24px;
		top: 24px;
		background: url(../img/dish/icon/share.svg) center/40px 40px no-repeat;
		border-radius: 50%;
		border: solid 1px #34c75900;
		z-index: 2;
		transition: all 0.3s ease-in;
		
		&:hover {
			border: solid 1px #34C759;
			background-color: rgba(0, 0, 0, 0.7);
			
		}
		
	}

	// .dishes-item__picture

	&__picture {
		position: relative;
		padding: 0px 0px 74.28% 0px;
	}

	// .dishes-item__img

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;

	}

	// .dishes-item__body

	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding:	29px 24px 24px 30px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		
		
	}

	// .dishes-item__body-title

	&__body-title {
		max-width: 290p;
		overflow-wrap: break-word;
		font-weight: 400;
		font-size: 32px;
		line-height: 0.97;
		color: #D9D9D9;
	}

	// .dishes-item__body-subtitle

	&__body-subtitle {
		overflow-wrap: break-word;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: -0.15px;
		color: #A4A8B2;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		
	}

	// .dishes-item__body-text

	&__body-text {
		flex: 1 1 auto;
		max-width: 290px;
		overflow-wrap: break-word;
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: #85878C;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .dishes-item__footer

	&__footer {
		display: flex;
		row-gap: 20px;
		flex-wrap: wrap;
		align-items: center;
	}

	// .dishes-item__stars

	&__stars {
		display: flex;
		flex-direction: row-reverse;
		flex: 0 0 139px;
		padding: 0px 7px 0px 0px;
		
	}
	// .dishes-item__star

	&__star {
		width: 26px;
		height: 26px;
		background: url(../img/dish/icon/ic_star-gray.svg) no-repeat;
		&:hover  {
			background: url(../img/dish/icon/ic_star-orang.svg) no-repeat;
		}
		&:hover ~ .dishes-item__star {
			background: url(../img/dish/icon/ic_star-orang.svg) no-repeat;
		}
		
	}

	// .dishes-item__numbr

	&__numbr {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	// .dishes-item__btn

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 0 100px;
		background: #262626;
		border: 2px solid #303030;
		box-sizing: border-box;
		border-radius: 30px;
		cursor: pointer;
		transition: all 0.2s ease-in;
			&:hover {
				background: #34C759;
				border: 2px solid #34C759;
			}
			&:hover * {
					color: #252525;
			}
			
	}

	// .dishes-item__btn-link

	&__btn-link {
		font-weight: 700;
		font-size: 10px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
	
	}
}

